<mat-card>
  <mat-card-title>{{
    isNewIngredient ? "Add New Ingredient" : "Edit Ingredient"
  }}</mat-card-title>

  <form (ngSubmit)="saveIngredient()">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="ingredient.name" name="name" required />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Type</mat-label>
      <input matInput [(ngModel)]="ingredient.type" name="type" required />
    </mat-form-field>

    <mat-checkbox [(ngModel)]="ingredient.availability" name="availability"
      >Available</mat-checkbox
    >

    <button mat-raised-button color="primary" type="submit">Save</button>
  </form>
</mat-card>
