<mat-card>
  <mat-card-title>Ingredient List</mat-card-title>
  <button mat-raised-button color="primary" (click)="addIngredient()">Add Ingredient</button>
  <mat-list>
    <mat-list-item *ngFor="let ingredient of ingredients">
      {{ ingredient.name }} ({{ ingredient.type }})
      <button mat-icon-button (click)="editIngredient(ingredient.ingredientId)">Edit</button>
      <button mat-icon-button color="warn" (click)="deleteIngredient(ingredient.ingredientId)">Delete</button>
    </mat-list-item>
  </mat-list>
</mat-card>
