<mat-card>
  <mat-card-title>{{
    isNewUser ? "Add New User" : "Edit User"
  }}</mat-card-title>

  <form (ngSubmit)="saveUser()">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="user.name" name="name" required />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        [(ngModel)]="user.email"
        name="email"
        required
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Role</mat-label>
      <input matInput [(ngModel)]="user.role.roleName" name="role" required />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        [(ngModel)]="user.passwordHash"
        name="passwordHash"
        required
      />
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Save</button>
  </form>
</mat-card>
