<div class="order-management-container">
  <!-- Search Field -->
  <mat-form-field appearance="fill" class="search-field">
    <mat-label>Search by User Name</mat-label>
    <input
      matInput
      [(ngModel)]="searchTerm"
      (ngModelChange)="filterOrders()"
      placeholder="Enter user name"
    />
  </mat-form-field>

  <ng-container *ngIf="filteredOrders.length > 0; else noOrdersTemplate">
    <div class="orders-grid">
      <mat-card *ngFor="let order of filteredOrders" class="order-card">
        <div class="order-details">
          <h3>Order #{{ order.orderId }}</h3>
          <p><strong>User:</strong> {{ order.user?.name }}</p>
          <!-- Display the user's name -->
          <p><strong>Date:</strong> {{ order.orderDate | date }}</p>
          <p>
            <strong>Total Price:</strong>
            {{ order.total | currency : "BRL" : "symbol" }}
          </p>
        </div>

        <div class="order-status">
          <mat-form-field appearance="fill">
            <mat-label>Status</mat-label>
            <mat-select
              [(ngModel)]="order.status"
              (selectionChange)="
                updateOrderStatus(order.orderId ?? '', $event.value)
              "
            >
              <mat-option *ngFor="let status of orderStatuses" [value]="status">
                {{ status }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-card>
    </div>
  </ng-container>

  <!-- Template for no orders -->
  <ng-template #noOrdersTemplate>
    <mat-card class="no-orders-card">
      <div class="no-orders">
        <h2>No Orders Found</h2>
        <p>There are no orders to manage at the moment.</p>
      </div>
    </mat-card>
  </ng-template>
</div>
