<mat-toolbar color="primary" class="navbar">
  <a class="nav-title-link" href="/home"
    ><span class="nav-title">🧁 Cupcake Dias</span></a
  >
  <span class="spacer"></span>

  <div class="nav-links">
    <!-- Navigation Links -->
    <button mat-raised-button routerLink="/home">Home</button>
    <button mat-raised-button routerLink="/cupcakes-list">Cupcakes</button>
    <button mat-raised-button routerLink="/cart">Cart</button>
    <!-- Show Admin button only if the user is an admin or manager -->
    <button mat-raised-button *ngIf="isAdminOrManager" routerLink="/admin">
      Admin
    </button>
    <button mat-raised-button *ngIf="isLoggedIn" routerLink="/order">
      Orders
    </button>
    <button mat-raised-button *ngIf="!isLoggedIn" routerLink="/login">
      Login
    </button>
    <button mat-raised-button *ngIf="isLoggedIn" (click)="logout()">
      Logout
    </button>
  </div>
</mat-toolbar>
