<div class="register-wrapper">
  <form
    [formGroup]="registerForm"
    (ngSubmit)="register()"
    class="register-form"
  >
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" />
      <mat-error
        *ngIf="
          registerForm.get('email')?.invalid &&
          registerForm.get('email')?.touched
        "
      >
        Please enter a valid email
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
      <mat-error
        *ngIf="
          registerForm.get('name')?.invalid && registerForm.get('name')?.touched
        "
      >
        Name is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Phone Number</mat-label>
      <input matInput formControlName="phoneNumber" mask="(00) 00000-0000" />
      <mat-error
        *ngIf="
          registerForm.get('phoneNumber')?.invalid &&
          registerForm.get('phoneNumber')?.touched
        "
      >
        Please enter a valid phone number
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="passwordHash" />
      <mat-error
        *ngIf="
          registerForm.get('passwordHash')?.invalid &&
          registerForm.get('passwordHash')?.touched
        "
      >
        Password must be at least 6 characters long
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Confirm Password</mat-label>
      <input matInput type="password" formControlName="confirmPassword" />
      <mat-error
        *ngIf="
          registerForm.errors?.['mismatch'] &&
          registerForm.get('confirmPassword')?.touched
        "
      >
        Passwords do not match
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Address</mat-label>
      <input matInput formControlName="address" />
      <mat-error
        *ngIf="
          registerForm.get('address')?.invalid &&
          registerForm.get('address')?.touched
        "
      >
        Address is required
      </mat-error>
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="registerForm.invalid"
    >
      Register
    </button>

    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
  </form>
</div>
